*{
	margin: 0;
	padding: 0:
	box-sizing: border-box;
	font-family: sans-serif;

}

.container{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(fondo.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-attachment: cover;
}

h1{
	font-size: 120px;
	color: transparent;
	-webkit-text-stroke: 1px white;
	background: url(fondo_tres.jpg);
	-webkit-background-clip: text;
	background-position: 0 0;
	animation: fondo 5s linear infinite;
}

@keyframes fondo {
	100%{
		background-position: 1920px 0;
	}
}